/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*root类选择器给所有的元素设置样式*/
.root {
    -fx-background-color: #1c77e5;
    -fx-font-family: "微软雅黑";
    -fx-font-color: #000000;
    -fx-font-size: 16px;
    -fx-background-size: stretch stretch;
    -fx-background-image: url(background.jpg);
    -fx-background-position: center center;
}

/*button类型选择器设置所有Button的背景色*/
.button {
    -fx-background-color: lightgrey;
}

/*hover伪类选择器设置鼠标移过Button时的背景色*/
.button:hover {
    -fx-background-color: grey;
}

/*id选择器设置Label标题的样式*/
#LBtitle {
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
    -fx-text-fill: black;
}