/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*root类选择器给所有的元素设置样式*/
.root {
    -fx-background-color: #1238e5;
    -fx-font-family: "微软雅黑";
    -fx-font-color: #000000;
    -fx-font-size: 12px;
    -fx-background-size: stretch stretch;
    -fx-background-image: url(background.jpg);
    -fx-background-position: center center;
}

.lable {
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-text-fill: black;
}
